# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/dist/

# production
/build

# misc
.DS_Store
.env*
tsconfig.tsbuildinfo

# debug
npm-debug.log*

# mdx
.mdx-data

# .idea
.idea/workspace.xml
.idea/jsLibraryMappings.xml
.idea/sqlDataSources.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dbnavigator.xml
.idea/misc.xml
.idea/git_toolbox_prj.xml

# Local Netlify folder
.netlify
