@import '../style/lib';
@import '../style/modules';

.root {
  @include module();
  @include module-spacing-1();

  width: 100%;
}

.big-headline {
  @include tr-big-header-2();

  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  text-align: center;
  text-transform: none;

  @include media-breakpoint-up(sm) {
    margin: 0 auto;
    flex-wrap: nowrap;
    text-align: justify;
    align-items: center;

    .line {
      width: 100%;
      height: 1px;
      margin: 0 3%;
      margin-top: 1vw;
      background: $white;
    }
  }
}

.headline-text {
  width: 100%;
  display: block;

  @include media-breakpoint-up(sm) {
    display: flex;
  }
}
