@import '../style/lib';
@import '../style/modules';

.hero {
  @include module();
  @include module-spacing-1();

  height: 100vh;
  position: relative;

  &.is-default-height {
    @include media-breakpoint-up(xxl) {
      max-height: 885px;
    }
  }

  .swiper {
    height: 100%;
  }

  .media-figure {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slide-media {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .headline {
    @include tr-headline-1();

    margin: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    transform: translateY(0.08em);
    // mix-blend-mode: difference; // works with background-image
  }

  .content-container {
    display: flex;
    height: 100%;
    padding: 0 30px;
    position: relative;
    z-index: $zindex-2;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-up(lg) {
      padding: 0 max(80px, 5.55vw);
    }

    &.has-logo {
      justify-content: flex-start;
    }

    &.has-headline .headline {
      bottom: 64px;
    }
  }

  .overlay-text {
    @include tr-label-1();
  }

  .quote-wrapper {
    text-align: center;
  }

  .quote-author {
    @include tr-label-2();

    margin: 39px 0 0;
    // mix-blend-mode: difference;

    @include media-breakpoint-up(lg) {
      margin-top: 34px;
    }
  }

  .site-logo {
    height: auto;
    width: 164px;
    color: $white;
    margin: 36px 0 71px;

    @include media-breakpoint-up(md) {
      margin: 86px 0 0;
      width: 90vw;
      display: none;
    }

    &.is-large {
      display: none;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .scroll-down-btn {
    @include unstyled-btn();

    left: 50%;
    width: 40px;
    bottom: 16px;
    height: 40px;
    position: absolute;
    z-index: $zindex-1;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .arrow-icon {
    height: 8px;
    width: 16px;
    color: $white;
  }
}
