@import '../style/lib';
@import '../style/modules';

.root {
  @include module();
  @include module-spacing-1();

  background-color: red;

  .no-gutters {
    margin: 0;
    padding: 0;
    width: 100%;

    & > div {
      padding: 0;
    }
  }
}

.hero-item {
  margin: 0;

  @include media-breakpoint-down(md) {
    height: 50vh;
  }
}
