@import '../style/lib';
@import '../style/modules';

.root {
  @include module();
  @include module-spacing-1();

  width: 100%;
}

.columns-content {
  position: relative;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.title {
  margin: 0 0 15px;

  @include media-breakpoint-up(lg) {
    margin: 0 0 32px;
  }
}

.description {
  margin: 0 auto;

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

.column-content {
  width: 100%;
  max-width: 320px;
  text-align: center;
  margin: 0 auto 40px;

  @include media-breakpoint-up(sm) {
    max-width: none;
    text-align: initial;
  }
}

.first-column {
  @include media-breakpoint-up(lg) {
    width: 35%;
    margin-right: 4%;
  }

  .title {
    @include tr-header-1();
  }

  .description {
    @include tr-header-2();
  }
}

.second-column {
  @include media-breakpoint-up(lg) {
    width: 61%;
    margin-top: 56px;
    margin-bottom: 110px;
  }
}

.secondary-column-type {
  .title {
    @include t-Phemister_Regular_18_White();
  }

  .description {
    @include tr-header-1();

    padding: 0;
    list-style: none;
  }
}

.contact-us-btn {
  @include btn-button-black-caps();
}
