@import '../style/lib';
@import '../style/modules';

.root {
  @include module();
  @include module-spacing-2();

  width: 100%;
}

.is-secondary-style {
  .sub-overlay-text {
    opacity: 0;
  }

  &:hover {
    .sub-overlay-text {
      opacity: 1;
    }
  }
}
