@import 'lib';

@mixin module() {
  &:first-of-type {
    margin-top: 0;
  }
}

// Add as many module spacing mixins as necessary
@mixin module-spacing-1() {
  margin-top: $module-spacing-xs;

  @include media-breakpoint-up(md) {
    margin-top: $module-spacing-md;
  }

  @include media-breakpoint-up(lg) {
    margin-top: $module-spacing-lg;
  }
}

@mixin module-spacing-2() {
  margin-top: $module-spacing-xs;

  @include media-breakpoint-up(md) {
    margin-top: $module-spacing-md;
  }
}
