@import 'lib';

@mixin module($module-name: '') {
  &:last-of-type {
    @include media-breakpoint-up(md) {
      margin-bottom: 80px;
    }
  }
  @if $module-name != 'big-headline' {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

// Add as many module spacing mixins as necessary
@mixin module-spacing-1() {
  margin-top: $module-spacing-xs;

  @include media-breakpoint-up(md) {
    margin-top: $module-spacing-md;
  }

  @include media-breakpoint-up(lg) {
    margin-top: $module-spacing-lg;
  }
}

@mixin module-spacing-2() {
  margin-top: $module-spacing-xs;

  @include media-breakpoint-up(md) {
    margin-top: $module-spacing-md;
  }
}

@mixin module-spacing-3() {
  margin-top: $module-spacing-md;

  @include media-breakpoint-up(md) {
    margin-top: $module-spacing-lg;
  }
}
