@import '../style/lib';

.root {
  @include unstyled-btn();
  @include transition($btn-transition);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;

  @include media-breakpoint-up(md) {
    width: auto;
  }

  &:hover {
    text-decoration: none;
  }
}

.style-example {
  color: $red;
}
