@import '../style/lib';

.text-divider-text {
  background: $black;
  padding: 120px 0;
}

.content {
  position: relative;
}

.no-divider {
  margin: 110px auto 100px;
}

.divider {
  width: 1px;
  height: 60px;
  border: none;
  background: $white;
  margin: 22px auto;
}

@media (min-width: 576px) {
  .text-divider-text {
    padding: 110px 0 140px;
  }

  .divider {
    height: 1px;
    width: 100%;
    margin: 110px auto 83px;
  }
}
