@import '../style/lib';

.text-divider-text {
  background: $black;
  padding-bottom: 1px;
}

.container {
  position: relative;
}

.no-divider {
  margin: 110px auto 100px;
}

.divider {
  opacity: 1;
  width: 1px;
  height: 60px;
  border: none;
  background: $white;
  margin: 22px auto;

  @include media-breakpoint-up(sm) {
    height: 1px;
    width: 100%;
    margin: 110px auto 83px;
  }
}
